@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the custom-select class */
.custom-select.no-border .ant-select-selector {
    border: none !important;
    box-shadow: none !important;
}

/* Handle focus and active state */
.custom-select.no-border .ant-select-selector:focus,
.custom-select.no-border .ant-select-selector:active,
.custom-select.no-border .ant-select-focused .ant-select-selector {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* Additional styles to handle Ant Design specific focus classes */
.custom-select.no-border .ant-select-selector:focus-visible {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.custom-select.no-border .ant-select-selection-item {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/* Remove border from the hidden input */
.custom-select.no-border .ant-select-selector input {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}




.glow-on-hover {
    transition: box-shadow 0.3s; /* Add transition for smooth effect */
  }
  
  .glow-on-hover:hover {
    box-shadow: 0 0 20px #fff; /* Change the color and spread radius as per your preference */
  }
  
  /* body{
    background-color: #141414;
  } */

  .Invert{
    filter: invert(1);
  }
  
  .createPin{
    background:  #141414;
  }
  
  .cardColor{
    background-color: #ffffff;
  }



  
.bg-image1{
  background: url('/images/img1.jpg');
  height: 100vh;
  /* object-fit: cover; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50px;
}
.bg-image2{
  background: url('/images/img2.webp');
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image3{
  background: url('/images/img3.webp');
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image4{
  background: url('images/img4.webp');
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Shadow{
  box-shadow: 3px 0px 0px 0.1px rgba(128, 128, 128, 0.484);
  border-bottom: none;
  min-height: 100%;
}

/* .bg-image5{
  background: url('/my-project/public/images/img1.png');
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */


.swiper-container {
  @apply relative;
}

.swiper-button-next,
.swiper-button-prev {
  @apply absolute top-1/2 -translate-y-1/2 z-10;
}

.swiper-button-next {
  @apply right-10;
}

.swiper-button-prev {
  @apply left-0;
} 
.transgender {
  transition: 0.2s all linear;
}




/* resposiveness */
.none{
  display: none;
}